﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Weston Athletic Club</title>

    @using Microsoft.AspNetCore.Http;
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
</head>
<body>
    <div id="page">
        <header>
            @*<a class="logo" title="Weston Athletic Club" href="http://www.westonac.co.uk">
                    <span>Weston Athletic Club</span>
                </a>*@
            <div class="hero">
                <h1>Road and trail running in Weston-super-Mare</h1>
            </div>
        </header>
        <nav>
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index" title="Welcome" aria-haspopup="true">Welcome</a>
                    <ul>
                        <li>
                            <a title="News" asp-controller="Content" asp-action="Index">News</a>
                        </li>
                        <li>
                            <a title="Gallery" href="#">Gallery</a>
                        </li>
                        <li>
                            <a title="History" href="#">History</a>
                        </li>
                        <li>
                            <a title="Membership" href="#">Membership</a>
                        </li>
                        <li>
                            <a title="Coaching" href="#">Coaching</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a title="Races" href="#" aria-haspopup="true">Races</a>
                    <ul>
                        <li>
                            <a title="5k Handicap" href="~/StaticPage/Races/handicap">5k Handicap</a>
                        </li>
                        <li>
                            <a title="Weston Prom Run" href="~/StaticPage/Races/promraces">Weston Prom Run</a>
                        </li>
                        <li>
                            <a title="Beacon Batch" href="~/StaticPage/Races/beaconbatch">Beacon Batch</a>
                        </li>
                        <li>
                            <a title="Mendip Muddle" href="~/StaticPage/Races/muddle">Mendip Muddle</a>
                        </li>
                        <li>
                            <a title="Christmas Cracker 10k" href="~/StaticPage/Races/cracker">Christmas Cracker 10k</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a title="Members" href="#" aria-haspopup="true">Members</a>
                    <ul>
                        <li>
                            <a asp-area="" asp-controller="MessageBoards" asp-action="Index">Messages</a>
                        </li>
                        <li>
                            <a title="Club Championship" href="#" aria-haspopup="true" class="nav_ul_li_a_width200">Club Championship</a>
                            <ul>
                                <li>
                                    <a title="Results" href="#" aria-haspopup="true">Results</a>
                                    <ul>
                                        <li>
                                            <a title="Championship Races" href="#" class="nav_ul_li_a_width200">Championship Races</a>
                                        </li>
                                        <li>
                                            <a title="Other Races" href="#">Other Races</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a title="Triathlon" href="#">Triathlon</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a title="Personal Best" href="#">Personal Best</a>
                        </li>
                        <li>
                            <a title="My Results" href="#">My Results</a>
                        </li>
                        <li>
                            <a asp-action="index" asp-controller="SocialDiary" title="Social Events">Social Events</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Contact" title="Contact Us">Contact Us</a>
                </li>
                @{ var firstName = @HttpContextAccessor.HttpContext.Session.GetString("FirstName"); }
                @if (string.IsNullOrEmpty(firstName))
                {
                    <li><a asp-area="" asp-controller="Access" asp-action="Login">Login</a></li>
                }
                else
                {
                    <li><a asp-area="" asp-controller="Access" asp-action="Logout">@firstName - Logout</a></li>
                }
            </ul>

        </nav>
        <div class="container body-content">
            <hr />
            @RenderBody()
            <hr />

            <footer>
                <p>&copy; 2019 - Weston Athletic Club</p>
            </footer>
        </div>
    </div>
    @await Html.PartialAsync("~/Views/Partials/_cookieConsentPartialView.cshtml")
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    @RenderSection("Scripts", required: false)
</body>
</html>
