﻿@model ErrorViewModel
@{
    Layout = null;
    ViewData["Title"] = "Error";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>500</title>
</head>
<body>
    <div class="error-div">
        <img width="420" height="450" src="~/images/dragon.jpg" />
        <p class="error_p">Sorry, this shouldn't of happened, an error occurred while processing your request. <br /><a asp-controller="Home" asp-action="Index">Return to home page</a></p>
        @if (Model.ShowRequestId)
        {
            <p class="error_p">
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }
    </div>
</body>
</html>

