﻿@model wac.Models.Content.CreateContentViewModel
@{
    ViewData["Title"] = "Create";
}

<h2 class="h2-float-left">@Model.Content.Title</h2><span class="span-hidden">hidden</span>
<div class="mini-menu-dropdown mini-menu-float-right">
    <ul>
        <li>
            <a asp-controller="Content" asp-action="Index">List content</a>
        </li>
    </ul>
</div>
<section class="main" id="content">
    @Html.AntiForgeryToken()
    @if (Model.FlashMessage != null)
    {
        <div class="flash-message @Model.FlashMessage.CssClass">@Model.FlashMessage.Message</div>
    }
    @await Html.PartialAsync("~/Views/Partials/_contentEditorCreator.cshtml", Model.Content)
</section>
    @section scripts
        {
        <script src="//code.jquery.com/jquery-1.12.4.js"></script>
        <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="~/js/content.create.edit.js"></script>
    }
