﻿@model wac.Models.Content.ContentViewModel
@{
    ViewData["Title"] = "News";
}

@using wac.Providers.ExtensionMethods;
<div class="nav">
    <h2 class="h2-float-left">News - @Model.CurrentClubArea.Name</h2>
    <div class="mini-menu-dropdown mini-menu-float-right">
        <ul>
            @if (Model.CanAdministerContent)
            {
                <li>
                    <a asp-controller="Content" asp-action="Create">Add content</a>
                </li>
            }
            <li>
                <a title="Area" href="#">Select area<span class="">&nbsp;<i class="mini-menu-dropdown-down-arrow"></i></span></a>
                <ul>
                    @foreach (var clubArea in Model.ClubAreas)
                    {
                        <li>
                            <a asp-controller="Content" asp-action="Index" asp-route-clubAreaId="@clubArea.Id">@clubArea.Name</a>
                        </li>
                    }
                </ul>
            </li>
            <li>
                <a title="Featured" href="#">Featured<span class="">&nbsp;<i class="mini-menu-dropdown-down-arrow"></i></span></a>
                <ul>
                    <li>
                        <input type="checkbox" id="featured-only" onclick="toggleFeatured(@Model.CanAdministerContent.ToString().ToLower())" /><span> Show featured content only</span>
                    </li>
                </ul>
            </li>
            <li>
                <a title="Search" href="#">Search<span class="">&nbsp;<i class="mini-menu-dropdown-down-arrow"></i></span></a>
                <ul>
                    <li>
                        <input class=" mini-menu-dropdown_ul_li_input" id="search-term" />
                        <a title="Do search" href="#" class="mini-menu-dropdown_ul_li_a small float-left" onclick="doSearch(@Model.CanAdministerContent.ToString().ToLower())">search titles, contents or dates</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<section class="main" id="content">
    @Html.AntiForgeryToken()
    @foreach (var content in Model.PagedNews)
    {
        <aside id="aside-content-@content.Id">
            <div class="content">
                <h3>@content.Title</h3>
                <h5>@content.PublishDateTimeText</h5>
                @if (Model.CanAdministerContent)
                {
                <div class="nav">
                    <div class="mini-menu-float-none mini-menu-dropdown">
                        <ul>
                            <li>
                                <a title="DeleteContent" id="delete-content" onclick="ConfirmDialog('Delete content: @content.Title?', 'Delete', deleteContent, @content.Id)">Delete content</a>
                            </li>
                            <li>
                                <a title="EditContent" id="edit-content" asp-controller="Content" asp-action="edit" asp-route-Id="@content.Id">Edit content</a>
                            </li>
                        </ul>
                    </div>
                </div>
                }
                @Html.Raw(content.Body)
            </div>
        </aside>
    }
</section>
<div class="mini-footer" id="mini-footer"><a onclick="getData(@Model.CanAdministerContent.ToString().ToLower()))">more</a></div>
<div class="hidden">
    <div id="club-area-id">@Model.ClubAreaId</div>
    <div id="oldest-news-datetime">@Model.OldestNewsDateTime</div>
</div>
@section scripts
    {
    <script src="~/js/content.index.js"></script>
}