﻿@model wac.Models.Events.SocialEventViewModel

@{
    ViewData["Title"] = "Social Diary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nav">
    <h2 class="h2-float-left">Social Diary - add event</h2>

    <div class="mini-menu-dropdown mini-menu-float-right">
        <ul>

            <li>
                <a asp-controller="SocialDiary" asp-action="Index">List events</a>
            </li>
        </ul>
    </div>
</div>

<section class="main" id="content">
    @Html.AntiForgeryToken()
    @if (Model.FlashMessage != null)
    {
        <div class="flash-message @Model.FlashMessage.CssClass">@Model.FlashMessage.Message</div>
    }
    @await Html.PartialAsync("~/Views/Partials/_socialEventEditorCreator.cshtml", Model.SocialEvent)
</section>
@section scripts
    {
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/socialDiary.create.edit.js"></script>
}