﻿@model wac.Models.Events.SocialDiaryViewModel

@{
    ViewData["Title"] = "Social Diary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.CanAdministerSocialDiary)
{
    <div class="nav">
        <h2 class="h2-float-left">Social Diary</h2>

        <div class="mini-menu-dropdown mini-menu-float-right">
            <ul>

                <li>
                    <a asp-controller="SocialDiary" asp-action="Create">Add event</a>
                </li>
            </ul>
        </div>
    </div>
}
else
{
    <h2>Social Diary</h2>
}

<section class="main" id="social-diary">
    @Html.AntiForgeryToken()
    @foreach (var e in Model.SocialEvents)
    {
        <aside id="aside-event-@e.Id">
            <div class="content">
                <h3>@e.Title</h3>
                <h4>@e.Location - @e.EventDate.ToString("dddd, d MMMM yyyy") at @e.EventTime.ToString("HH:mm")</h4>
                <p>@e.Description</p>
                <p><b>Organiser: </b>@e.Organiser</p>
                @if (!string.IsNullOrWhiteSpace(e.Email))
                {
                    <p><b>Email: </b><a href="mailto:@e.Email">@e.Email</a></p>
                }
                @if (!string.IsNullOrWhiteSpace(e.Facebook))
                {
                    <p><b>Facebook: </b><a href="@e.Facebook">@e.Facebook</a></p>
                }
                @if (Model.CanAdministerSocialDiary)
                {
                    <div class="nav">
                        <div class="mini-menu-float-none mini-menu-dropdown">
                            <ul>
                                <li>
                                    <a title="DeleteEvent" id="delete-event" onclick="ConfirmDialog('Delete event: @e.Title?', 'Delete', deleteEvent, @e.Id)">Delete event</a>
                                </li>
                                <li>
                                    <a title="EditEvent" id="edit-event" asp-controller="SocialDiary" asp-action="edit" asp-route-Id="@e.Id">Edit event</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </aside>
    }
</section>
@section scripts
    {
    <script src="~/js/social-diary.index.js"></script>
}
