﻿@model wac.Models.Events.SocialEventViewModel
@{
    ViewData["Title"] = $"View event {Model.SocialEvent.Title}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nav">
    <div class="mini-menu-dropdown mini-menu-float-right">
        <ul>

            <li>
                <a asp-controller="SocialDiary" asp-action="Index">List events</a>
            </li>
        </ul>
    </div>
</div>
<form asp-controller="SocialDiary" asp-action="DeleteEvent" method="post" id="view-social-diary-form">
    <section class="main">
        @Html.AntiForgeryToken()
        <input asp-for="@Model.SocialEvent.Id" value="@Model.SocialEvent.Id" type="hidden" />
        <aside>
            <div class="content">
                <h3>@Model.SocialEvent.Title</h3>
                <h4>@Model.SocialEvent.Location - @Model.SocialEvent.EventDate.ToString("dddd, d MMMM yyyy") at @Model.SocialEvent.EventTime.ToString("HH:mm")</h4>
                <p>@Model.SocialEvent.Description</p>
                <p><b>Organiser: </b>@Model.SocialEvent.Organiser</p>
                @if (!string.IsNullOrWhiteSpace(Model.SocialEvent.Email))
                {
                    <p><b>Email: </b><a href="mailto:@Model.SocialEvent.Email">@Model.SocialEvent.Email</a></p>
                }
                @if (!string.IsNullOrWhiteSpace(Model.SocialEvent.Facebook))
                {
                    <p><b>Facebook: </b><a href="@Model.SocialEvent.Facebook">@Model.SocialEvent.Facebook</a></p>
                }
                @if (Model.CanAdministerSocialDiary)
                {
                    <div class="nav">
                        <div class="mini-menu-float-none mini-menu-dropdown">
                            <ul>
                                <li>
                                    <a title="DeleteEvent" id="delete-event" onclick="ConfirmDialog('Delete event: @@Model.SocialEvent.Title?', 'Delete', deleteEvent, @Model.SocialEvent.Id)">Delete event</a>
                                </li>
                                <li>
                                    <a title="EditEvent" id="edit-event" asp-controller="SocialDiary" asp-action="edit" asp-route-Id="@Model.SocialEvent.Id">Edit event</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </aside>
    </section>
    </form>
    @section scripts
        {
        <script src="~/js/social-diary.view.js"></script>
    }
