﻿@model wac.Models.Events.TrainingDiaryViewModel
@{
    ViewData["Title"] = "Training Diary";
}
<h2 id="header-text" class="h2-float-left">Training Diary - @Model.CurrentClubArea.Name</h2>
<div class="nav">
    <div class="mini-menu-dropdown mini-menu-float-right">
        <ul>
            <li>
                <a title="Previous week" href="#" class="" onclick="previousWeek(@Model.CurrentClubArea.Id, @Model.WeekCommencingFormatted)">Previous week</a>
            </li>
            <li>
                <a title="Next week" href="#" class="" onclick="nextWeek(@Model.CurrentClubArea.Id, @Model.WeekCommencingFormatted)">Next week</a>
            </li>
            <li>
                <a title="Select a club area" href="#">Select area<span class="">&nbsp;<i class="mini-menu-dropdown-down-arrow"></i></span></a>
                <ul>
                    @foreach (var clubArea in Model.ClubAreas)
                    {
                        <li>
                            <a title="@clubArea.Description" href="#" onclick="changeTrainingDiaryArea(@clubArea.Id)">@clubArea.Name</a>
                        </li>
                    }
                </ul>
            </li>
        </ul>
    </div>

</div>
<h3 id="week-commencing-text">Week commencing: @Model.WeekCommencingText.ToString()</h3>

<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/js/training-diary.js"></script>
<section class="main" id="training-diary">
    <form asp-controller="TrainingDiary" asp-action="Save" method="post" onsubmit="return validateAndBind(Event)">
        <div id="flash-message" class="flash-message"></div>
        @if (Model.FlashMessage != null)
        {
            <div class="flash-message @Model.FlashMessage.CssClass">@Model.FlashMessage.Message</div>
        }
        <div id="accordion">
            @for (var day = 0; day < 7; day++)
            {
                <h3>@Model.events[day].EventDate.DayOfWeek.ToString()</h3>
                <div>
                    <div class="day">
                        <div>
                            <label asp-for="@Model.events[day].Location">Location</label> <input asp-for="@Model.events[day].Location" />
                        </div>
                        <div>
                            <label asp-for="@Model.events[day].Description">Description</label> <input asp-for="@Model.events[day].Description" />
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.events[day].StartTime">Start</label> <input asp-for="@Model.events[day].StartTime" placeholder="00:00" type="time" />
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.events[day].EndTime">End</label> <input asp-for="@Model.events[day].EndTime" placeholder="00:00" type="time" />
                        </div>
                        <input asp-for="@Model.events[day].Id" value="@Model.events[day].Id" type="hidden" />
                        <input type="hidden" asp-for="@Model.events[day].ClubArea.Id" />
                        <input type="hidden" asp-for="@Model.events[day].EventDate" />
                    </div>
                </div>
            }
        </div>
        <input type="hidden" asp-for="@Model.CurrentClubArea.Id" />
        <input type="hidden" asp-for="@Model.WeekCommencingFormatted" />
        <input type="button" value="Save" onclick="saveTrainingDiary()" class="save-button" />
    </form>
</section>