﻿/* CSS Document for Screens */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #222;
    margin: 0;
    padding: 0;
    background-color: #ADD8E6;
}

/*body::after {
        content:"";
        background-image: url(../images/wac_banner2.jpg);
        background-size:cover;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }*/

#page {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

/* Text */
h1 {
    margin: 0 0 1em 0;
    font-size: 2.8em;
    font-weight: 700;
}

h2 {
    margin: 0 0 .5em 0;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1.1em
}

h3 {
    margin: 0 0 .5em 0;
    font-size: 1.3em;
    font-weight: 700;
}

h4 {
    margin: 0 0 1.5em 0;
    font-size: 1em;
    font-weight: 700;
}

p {
    margin: 0 0 1em 0
}

a {
    color: #007eff;
}

    a:visited {
        color: #65b1ff;
    }

    a.btn {
        font-size: 1.2em;
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        padding: 4px 15px;
        transition: background-color .5s;
    }

        a.btn:hover {
            background-color: rgba(0,0,0,.3);
        }

/* Header */
header {
    height: 430px;
    background: #2900cf url(../images/wac_banner_1200.jpg) no-repeat center bottom;
    position: relative;
    border-radius: 0px 0px 5px 5px;
}

    header a.logo {
        z-index: 1;
        position: absolute;
        display: block;
        widows: 160px;
        height: 66px;
        background: url(../images/logo.svg) no-repeat 0 0;
        background-size: contain;
        top: 15px;
        left: 20px;
    }

        header a.logo span {
            visibility: hidden;
        }

    header div.hero {
        position: absolute;
        width: 42%;
        top: 130px;
        left: 55%;
    }

        header div.hero h1 {
            line-height: 1em;
            margin: 0 0 30px 0;
            color: #ffff7e;
        }

/*Section - all*/
section {
    padding: 0 30px;
}
    /*pseudo element*/
    section::after {
        content: '';
        display: block;
        clear: both;
    }

    /*Section - Main*/
    section.main {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 0;
    }

        section.main aside {
            width: 33%;
            float: left;
            text-align: center;
        }

        section.main .content {
            margin: 15px;
            background: no-repeat center top;
            background-size: 75px 75px;
            padding-top: 25px;
        }

        section.main aside h3 a {
            color: #000;
            text-decoration: none;
        }

            section.main aside h3 a:hover {
                text-decoration: underline;
            }

        section.main aside .content.trending {
            background-image: url(../images/icon_star.svg);
        }

        section.main aside .content.find-it {
            background-image: url(../images/icon_marker.svg);
        }

        section.main aside .content.tools {
            background-image: url(../images/icon_gear.svg);
        }

        section.main .about {
            margin: 0px;
            background: no-repeat center top;
            background-size: 75px 75px;
            padding-top: 0px;
        }

    /*section - atmosphere*/
    section.atmosphere {
        background-color: #cc6633;
        padding-top: 30px;
        padding-bottom: 30px;
        color: #fff;
    }

        section.atmosphere article {
            padding: 0 20px 0 515px;
            background: url(../images/photo_lounge.jpg) no-repeat 0 5px;
            min-height: 220px;
        }

    /*section how-to*/
    section.how-to {
        background-color: #eee9d9;
        position: relative;
    }

        section.how-to aside {
            width: 30%;
            float: left;
            margin-right: 10px;
        }

            section.how-to aside .content {
                padding: 30px 30px 20px 0;
            }

                section.how-to aside .content img {
                    display: block;
                    margin-bottom: 15px;
                    width: 70%;
                }

                section.how-to aside .content h4 {
                    margin-bottom: 0;
                }

                section.how-to aside .content p {
                    margin-bottom: .5em;
                }

                section.how-to aside .content a {
                    display: inline-block;
                    color: #cc6633;
                    font-weight: 700;
                }

        section.how-to blockquote {
            margin: 0;
            width: 32%;
            color: #444;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            right: 4%;
        }

            section.how-to blockquote p {
                margin: 30px 30px 20px 50px;
            }

                section.how-to blockquote p.quote {
                    font-style: italic;
                    font-size: 1.2em;
                }

                section.how-to blockquote p.credit {
                    color: #777;
                    font-size: .9em;
                    margin-top: 0;
                    padding-left: 20px;
                    line-height: 1.3em;
                    position: relative;
                }

            section.how-to blockquote::before {
                content: '\201c';
                color: #d2bd56;
                position: absolute;
                top: 10px;
                left: 8px;
                font-size: 5em;
                font-family: serif;
            }

            section.how-to blockquote p.quote::after {
                content: '\201d';
                font-family: serif;
            }

            section.how-to blockquote p.credit::before {
                content: '\2014';
                position: absolute;
                top: -1px;
                left: 0;
            }

/*section navigation*/
nav {
    background-color: rgba(0,0,0,.65);
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0 0 0 0;
    width: 100%;
}

    nav::after {
        content: '';
        display: block;
        clear: both;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        border-radius: 0px 5px 5px 5px;
    }

        nav ul li:hover {
            background-color: #3273d3;
            
        }

            nav ul li:hover > ul {
                display: block;
            }


        nav ul li a {
            display: inline-block;
            color: #fff;
            padding: 10px 20px;
            text-decoration: none;
            width: 125px;
            position: relative;
        }

        nav ul li a.nav_ul_li_a_width200 {
            width: 200px;
        }

            nav ul li a:visited {
                color: #fff;
            }

            nav ul li a:hover {
                background-color: #3273d3;
            }

        nav ul ul {
            position: absolute;
            top: 100%;
            background-color: #1f4987;
            display: none;
        }

            nav ul ul li {
                position: relative;
            }

            nav ul ul ul {
                left: 100%;
                top: 0px;
            }

    /* to level */
    nav > ul {
        padding-left: 50px;
    }

        nav > ul > li {
            float: left;
        }

            nav > ul > li > a {
                width: auto;
                padding: 10px 20px 15px 20px;
            }

    nav a[aria-haspopup="true"]::after {
        content: '';
        display: block;
        width: 0px;
        height: 0px;
        position: absolute;
        top: 16px;
        right: 15px;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid #fff;
    }

    nav > ul > li > a[aria-haspopup="true"]::after {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #fff;
        left: 20px;
        right: auto;
        bottom: 6px;
        top: auto;
    }

/*section footer*/

footer {
    font-size: .8em;
    margin: 10px;
    color: #999;
}

    footer .content {
        display: inline;
    }

    footer a {
        margin-left: 30px;
        color: #777;
    }

        footer a:visited {
            color: #777;
        }

        footer a:hover {
            color: #000;
        }

/* Media Queries */

@media screen and (max-width: 1000px) {
    h1 {
        font-size: 2.4em;
    }

    /* Header */
    header div.hero {
        left: 56%;
    }

        header div.hero h1 {
            margin-bottom: 20px;
        }

    /* Section - Atmosphere */
    section.atmosphere article {
        padding-left: 400px;
        background-size: 375px auto;
    }
}

@media screen and (max-width: 825px) {
    h1 {
        font-size: 2.2em;
    }

    /* Header */
    header {
        height: 300px;
        background-image: url(../images/wac_banner_825.jpg);
    }

        header div.hero {
            top: 120px;
            left: 48%;
        }

    /* Section - Atmosphere */
    section.atmosphere article {
        padding-left: 325px;
        background-size: 300px auto;
    }

    /* section how to */
    section.how-to blockquote p.quote {
        font-size: 1.1em;
        line-height: 1.2em;
    }

    section.how-to blockquote p.credit {
        font-size: .85em;
    }
}

@media screen and (max-width: 760px) {
    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.4em;
    }

    h3 {
        font-size: 1.1em;
    }

    a.btn {
        font-size: 1em;
    }

    /* Header */
    header a.logo {
        width: 145px;
        height: 60px;
    }

    header div.hero {
        top: 140px;
        left: 48%;
    }

    /* section main */
    section.main {
        margin-top: 10px;
        margin-bottom: 10px;
    }

        section.main aside div.content {
            background-size: 55px 55px;
            padding-top: 60px;
        }

    /* section how to */
    section.how-to aside div.content img {
        width: 85%;
    }

    /* Nav */
    nav {
        padding-top: 80px;
    }

        nav > ul {
            padding-left: 10px;
        }
}
