﻿/* CSS Document for Screens */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #227;
    margin: 0;
    padding: 0 0 0 0;
    background-color: #fff;
}

#page {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

/* Text */
h1 {
    margin: 0 0 1em 0;
    font-size: 2.8em;
    font-weight: 700;
}

h2 {
    margin: 0 0 .5em 0;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1.1em
}

.h2-margin-adjust-left {
    margin: 0 0 .5em -.5em;
}

.h4-margin-adjust-left {
    margin: 0 0 .5em -.7em;
}

.h2-float-left {
    float: left;
}

h3 {
    margin: 0 0 .5em 0;
    font-size: 1.3em;
    font-weight: 700;
}

h4 {
    margin: 0 0 1.5em 0;
    font-size: 1em;
    font-weight: 700;
}

p {
    margin: 0 0 1em 0
}

a {
    color: #007eff;
}

    a:visited {
        color: #65b1ff;
    }

    a.btn {
        font-size: 1.2em;
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        padding: 4px 15px;
        transition: background-color .5s;
    }

        a.btn:hover {
            background-color: rgba(0,0,0,.3);
        }

/* Header */
header {
    height: 300px;
    background: #2900cf url(../images/wac_banner_1200_300.jpg) no-repeat center bottom;
    position: relative;
    border-radius: 0px 0px 0px 0px;
}

    header a.logo {
        z-index: 1;
        position: absolute;
        display: block;
        height: 66px;
        widows: 160px;
        background: url(../images/wac-logo.svg) no-repeat 0 0;
        background-size: contain;
        top: 15px;
        left: 20px;
    }

        header a.logo span {
            visibility: hidden;
        }

    header div.hero {
        position: absolute;
        width: 42%;
        top: 130px;
        left: 55%;
    }

        header div.hero h1 {
            line-height: 1em;
            margin: 0 0 30px 0;
            color: #ffff7d;
        }

/*Section - all*/
section {
    padding: 0 30px;
}
    /*pseudo element*/
    section::after {
        content: '';
        display: block;
        clear: both;
    }

    /*Section - Main*/
    section.main {
        margin-top: 1px;
        margin-bottom: 30px;
        padding: 0;
    }

        section.main aside {
            width: 100%;
            float: left;
            margin-bottom: 0.5em;
            border-radius: 10px;
            border-color: #efefef;
            border-style: solid;
            border-width: thin;
        }

        section.main .content {
            margin: 15px;
            background: no-repeat center top;
            background-size: 75px 75px;
        }

        section.main aside h3 a {
            color: #000;
            text-decoration: none;
        }

            section.main aside h3 a:hover {
                text-decoration: underline;
            }

        section.main aside .content.trending {
            background-image: url(../images/icon_star.svg);
        }

        section.main aside .content.find-it {
            background-image: url(../images/icon_marker.svg);
        }

        section.main aside .content.tools {
            background-image: url(../images/icon_gear.svg);
        }

        section.main .about {
            margin: 0px;
            background: no-repeat center top;
            background-size: 75px 75px;
            padding-top: 0px;
        }

    /*section - training-diary*/
    section.training-diary {
        background-color: #3273d3;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        border-radius: 10px;
    }

    section.training-diary article {
        min-height: 100px;
        padding: 0 20px 0 20px;
    }

    section.training-diary article ul {
        list-style-type: none;
    }

    section.training-diary article a {
        color: azure;
        text-decoration: underline;
    }



    /*section races-social*/
    section.races-social {
        background-color: #65b1ff;
        position: relative;
        border-radius: 10px;
        margin-top: 3px;
    }

        section.races-social aside {
            width: 30%;
            float: left;
            margin-right: 10px;
            text-align: left;
        }

            section.races-social aside .content {
                padding: 30px 30px 20px 0;
            }

                section.races-social aside .content img {
                    display: block;
                    margin-bottom: 15px;
                    width: 70%;
                }

                section.races-social aside .content h4 {
                    margin-bottom: 10px;
                }

                section.races-social aside .content h4 a {
                    color: #227;
                }

                section.races-social aside .content ul {
                    list-style-type: none;
                }

                section.races-social aside .content p {
                    margin-bottom: .5em;
                }

                section.races-social aside .content a {
                    display: inline-block;
                    color: #cc6633;
                    font-weight: 700;
                }

        section.races-social blockquote {
            margin: 0;
            width: 32%;
            color: #444;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            right: 4%;
        }

            section.races-social blockquote p {
                margin: 30px 30px 20px 50px;
            }

                section.races-social blockquote p.quote {
                    font-style: italic;
                    font-size: 1.2em;
                }

                section.races-social blockquote p.credit {
                    color: #777;
                    font-size: .9em;
                    margin-top: 0;
                    padding-left: 20px;
                    line-height: 1.3em;
                    position: relative;
                }

            section.races-social blockquote::before {
                content: '\201c';
                color: #d2bd56;
                position: absolute;
                top: 10px;
                left: 8px;
                font-size: 5em;
                font-family: serif;
            }

            section.races-social blockquote p.quote::after {
                content: '\201d';
                font-family: serif;
            }

            section.races-social blockquote p.credit::before {
                content: '\2014';
                position: absolute;
                top: -1px;
                left: 0;
            }

    /* section message board */
    section.message-board {
        background-color: #3273d3;
        padding-top: 30px;
        padding-bottom: 30px;
        color: #fff;
    }

        section.message-board article {
            min-height: 100px;
            padding: 0 20px 0 20px;
        }

            section.message-board article ul li {
                list-style-type: none;
                padding-top: 20px;
                padding-bottom: 20px;
                border-bottom: 4px solid;
            }

                section.message-board article ul li a {
                    color: orange;
                }

                    section.message-board article ul li a:hover {
                        cursor: pointer;
                    }

/* Drop zone*/
.dropzone-container {
    width: 100%;
}

.dropzone-drop-area {
    background-color: lemonchiffon;
    border: dashed 1px;
    border-color: lightgray;
    min-height: 150px;
    box-sizing: border-box;
    padding: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    cursor: pointer;
    position: relative;
}

.dropzone-drop-area:hover {
    background-color: orange;
    border: dashed 1px black;
}

/* Table style divs */

.div-column-tidy{
    overflow: hidden !important;
    word-wrap: break-word !important;
}

.div-margin-bottom_1 {
    margin-bottom: 1rem;
}

.div-font-weight_bold {
    font-weight: bold !important;
}

/* Style inputs, select elements and textareas */
.span-hidden {
    visibility: hidden;
}

.hidden {
    display: none;
}

.float-left {
    float:left;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-right-10 {
    padding-right: 10px;
}

.font-size-small {
    font-size: small;
}

.width-150 {
    width: 150px;
}

.margin-top-10 {
    margin-top: 10px;
}

input[type=text] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    max-width: 98%;
}

input[type=time] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    max-width: 98%;
}

input[type=datetime-local] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    max-width: 98%;
}

select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    max-width: 98%;
}

input[type=submit] {
    padding: 5px 15px;
    background: #3273d3;
    color: #fff;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=button] {
    padding: 5px 15px;
    background: #3273d3;
    color: #fff;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.save-button {
    margin-top: 20px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.a-button-delete {
    cursor: pointer;
}

.a-button-edit {
    cursor: pointer;
}

/* Events diary */
.day {
}

/* Dropzone */
.dropzone-container {
    border-width: 1px;
    border-color: lightgray;
    border-radius: 3px;
    width: 99%;
}

.dropzone-drop-area {
    background-color: lemonchiffon;
    border: dashed 1px;
    border-color: lightgray;
    min-height: 150px;
    box-sizing: border-box;
    padding: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    cursor: pointer;
    position: relative;
}

    .dropzone-drop-area:hover {
        background-color: orange;
        border: dashed 1px black;
    }

/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Flash messages */
.flash-message {
    margin: 10px 0px;
    padding: 12px;
    border-radius: .5em;
}

.flash-message-successful {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.flash-message-failed {
    color: #D8000C;
    background-color: #FFD2D2;
}

.flash-message-info {
    color: #00529B;
    background-color: #BDE5F8;
}

.flash-message-warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

/* Dialogs */
.ui-dialog-content-custom {
    font-size: medium;
}

.ui-widget-header {
    font-size: 110% !important;
    color: #FFFFFF !important;
    background: #3273d3 !important;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=button] {
        width: 100%;
        margin-top: 0;
    }
}

/*section navigation*/
nav {
    background-color: rgba(0,0,0,.65);
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0 0 0 0;
    width: 100%;
}

    nav::after {
        content: '';
        display: block;
        clear: both;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        border-radius: 0px 0px 0px 0px;
    }

        nav ul li:hover {
            background-color: #3273d3;
        }

            nav ul li:hover > ul {
                display: block;
            }


        nav ul li a {
            display: inline-block;
            color: #fff;
            padding: 10px 20px;
            text-decoration: none;
            width: 125px;
            position: relative;
        }

            nav ul li a.nav_ul_li_a_width200 {
                width: 200px;
            }

            nav ul li a:visited {
                color: #fff;
            }

            nav ul li a:hover {
                background-color: #3273d3;
            }

        nav ul ul {
            position: absolute;
            top: 100%;
            background-color: #1f4987;
            display: none;
        }

            nav ul ul li {
                position: relative;
            }

            nav ul ul ul {
                left: 100%;
                top: 0px;
            }

    /* to level */
    nav > ul {
        padding-left: 20px;
    }

        nav > ul > li {
            float: left;
        }

            nav > ul > li > a {
                width: auto;
                padding: 10px 20px 15px 20px;
            }

    nav a[aria-haspopup="true"]::after {
        content: '';
        display: block;
        width: 0px;
        height: 0px;
        position: absolute;
        top: 16px;
        right: 15px;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid #fff;
    }

    nav > ul > li > a[aria-haspopup="true"]::after {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #fff;
        left: 20px;
        right: auto;
        bottom: 6px;
        top: auto;
    }
/*
    mini-footer section
*/
.mini-footer {
    
}

.mini-footer a:hover {
    background-color: #eee;
    border-style: solid;
    border-width: 1px;
    text-decoration: dotted;
    cursor: pointer;
}

    .mini-footer a {
        color: #aaa;
        padding: 3px 10px 3px 10px;
    }
/*
    mini-menu-dropdown section
*/
i {
    border: solid;
    border-color: #aaa;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    position: absolute;
    top: 5px;
    right: 3px;
}

.mini-menu-dropdown-down-arrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.mini-menu-dropdown {
    color: #aaa;
    position: relative;
    top: 0px;
    left: 0px;
    padding: 0 0 0 0;
}

.mini-menu-float-none {
    float: none;
}

.mini-menu-float-right {
    float: right;
}

    .mini-menu-dropdown::after {
        content: '';
        display: block;
        clear: both;
    }

    .mini-menu-dropdown ul {
        list-style: none;
        margin: 0;
        padding: 0;
        border-radius: 0px 0px 0px 0px;
    }

        .mini-menu-dropdown ul li:hover {
            background-color: #fff;
        }

        .mini-menu-dropdown ul li:hover > ul {
            display: block;
        }


        .mini-menu-dropdown ul li a {
            display: inline-block;
            color: #aaa;
            padding: 2px 5px;
            text-decoration: none;
            width: 125px;
            position: relative;
        }
            .mini-menu-dropdown ul li a.mini-menu-dropdown_ul_li_a_width-150 {
                width: 150px;
            }

            .mini-menu-dropdown ul li a.mini-menu-dropdown_ul_li_a {
                width: 210px;
                padding: 2px 5px 0px 5px;
                border-radius: 3px;
            }

            .mini-menu-dropdown ul li input.mini-menu-dropdown_ul_li_input {
                width: 210px;
                border-radius: 3px;
                border-width: medium;
                margin: .1em;
            }

            .mini-menu-dropdown ul li a:visited {
                color: #aaa;
            }

            .mini-menu-dropdown ul li a:hover {
                background-color: #eee;
                text-decoration: dotted;
                cursor: pointer;
            }

        .mini-menu-dropdown ul ul {
            position: absolute;
            top: 100%;
            background-color: #fff;
            display: none;
            z-index: 99;
        }

            .mini-menu-dropdown ul ul li {
                position: relative;
            }

            .mini-menu-dropdown ul ul ul {
                left: 100%;
                top: 0px;
            }

    /* to level */
    .mini-menu-dropdown > ul > li {
        float: left;
        padding-right:10px;
    }

    .mini-menu-dropdown > ul > li > a {
        width: auto;
        padding: 2px 20px 5px 2px;
    }

    .mini-menu-dropdown a[aria-haspopup="true"]::after {
        content: '';
        display: block;
        width: 0px;
        height: 0px;
        position: absolute;
        top: 16px;
        right: 15px;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid #aaa;
    }

    .mini-menu-dropdown > ul > li > a[aria-haspopup="true"]::after {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #fff;
        left: 20px;
        right: auto;
        bottom: 6px;
        top: auto;
    }

/*section footer*/
footer {
    font-size: .8em;
    margin: 10px;
    color: #999;
}

footer .content {
    display: inline;
}

footer a {
    margin-left: 30px;
    color: #777;
}

footer a:visited {
    color: #777;
}

footer a:hover {
    color: #000;
}

/* Embelishments */
.border_none {
    border: none !important;
}

.margin-left_6 {
    margin-left: 6px;
}

.margin-right_20 {
    margin-right: 20px;
}

.margin-top_5 {
    margin-top: 5px;
}

/* Media Queries */

@media screen and (max-width: 1000px) {
    h1 {
        font-size: 2.4em;
    }

    /* Header */
    header div.hero {
        left: 56%;
    }

        header div.hero h1 {
            margin-bottom: 20px;
        }

    /* Section - Atmosphere */
    section.atmosphere article {
        padding-left: 400px;
        background-size: 375px auto;
    }
}

@media screen and (max-width: 825px) {
    h1 {
        font-size: 2.2em;
    }

    /* Header */
    header {
        height: 300px;
        background-image: url(../images/wac_banner_825.jpg);
    }

        header div.hero {
            top: 120px;
            left: 48%;
        }

    /* Section - Atmosphere */
    section.atmosphere article {
        padding-left: 325px;
        background-size: 300px auto;
    }

    /* section how to */
    section.how-to blockquote p.quote {
        font-size: 1.1em;
        line-height: 1.2em;
    }

    section.how-to blockquote p.credit {
        font-size: .85em;
    }
}

@media screen and (max-width: 760px) {
    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.4em;
    }

    h3 {
        font-size: 1.1em;
    }

    a.btn {
        font-size: 1em;
    }

    /* Header */
    header a.logo {
        width: 145px;
        height: 60px;
    }

    header div.hero {
        top: 140px;
        left: 48%;
    }

    /* section main */
    section.main {
        margin-top: 10px;
        margin-bottom: 10px;
    }

        section.main aside div.content {
            background-size: 55px 55px;
            padding-top: 60px;
        }

    /* section how to */
    section.how-to aside div.content img {
        width: 85%;
    }

    /* Nav */
    nav {
        padding-top: 80px;
    }

        nav > ul {
            padding-left: 10px;
        }
}

/* Error page styling */
.error-div {
    margin: auto;
    width: 360px;
}

.error_p {
    text-align: center;
}
