﻿@model wac.Models.Messages.CreateMessageViewModel
@{
    ViewData["Title"] = "Create new message";
}

<h2>Create new message</h2>
<form asp-controller="Messages" asp-action="Create">
    <p>Give your message a short title and then fill in the details that you want to display.</p>
    <p>
        <div class="row">
            <div class="col-25">
                <label for="MessageTitle">Title: </label>
            </div>
            <div class="col-75">
                <input asp-for="Title" name="Title">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="MessageText">Message: </label>
            </div>
            <div class="col-75">
                <textarea asp-for="MessageText" name="MessageText"></textarea>
            </div>
        </div>
        <div class="row">
            <input name="submit" id="submit" type="submit" class="submit" value="Create" />
        </div>
    </p>
</form>
