﻿@model wac.Models.Messages.GetMessageBoardViewModel
@{
    ViewData["Title"] = "Messages";
}

<h2>@Model.MessageBoard.Name</h2>
<p>@Model.MessageBoard.Description</p>

<section class="message-board">
    <article>
        <ul><li><a asp-controller="Messages" asp-action="Create">create new message</a></li></ul>
        <ul>
            @foreach (var message in Model.MessageBoard.Messages)
            {
                <li>
                    <h4>@message.Title - Created on: @message.CreatedDateTime</h4>
                    <p>@message.Text</p>
                    <div><a>view replies</a></div>
                    <div><a>reply</a></div>
                </li>
            }
        </ul>
        
        @*<li>
            <h4>Long run tommorow???? - Created on: 21 April 2018 at 12:42</h4>
            <p> Maecenas feugiat nunc dignissim tristique ornare. Curabitur id est vitae sapien ultrices fringilla non in elit. Nullam posuere molestie mauris, non sodales risus fermentum ac. Curabitur a urna varius, volutpat libero vitae, porta nibh. Nam eu elit pellentesque, venenatis est ut, accumsan augue. Phasellus magna ipsum, consequat nec libero in, tempor auctor nibh. Vivamus at odio massa. Phasellus eu nulla nisl.</p>
            <div><a>view replies</a></div>
            <div><a>reply</a></div>
        </li>
        </ul>*@
    </article>
</section>

