﻿@{
    ViewData["Title"] = "About";
}
<h3>@ViewData["Message"]</h3>
<div class="about">
    We promote road and trail running in Weston-super-Mare and the surrounding area. We cater for runners of all abilities and have an active membership of around 350 members. We present a varied programme of training, racing and social events throughout the year.
</div>

