﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Weston Athletic Club<br />
    PO Box. 574<br />
    Weston-super-Mare<br />
    BS23 9HS<br />
</address>

<address>
    <strong>Email:</strong> <a href="mailto:westonac@westonac.co.uk">westonac@westonac.co.uk</a><br />
</address>
