﻿
@{
    ViewData["Title"] = "Cookies";
}

<h2>Cookies</h2>
<h3>What are cookies and why do we use them</h3>
<p>Cookies are small text files that are stored by your web browser. We use them to track whether you are logged on to our site and what your preferences on the site are.</p>

