﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>404</title>
</head>
<body>
    <div class="error-div">
        <img width="360" height="450" src="~/images/girl.jpg" />
        <p class="error_p">Sorry this page does not exist <br /><a asp-controller="Home" asp-action="Index">Return to home page</a></p>
    </div>
</body>
</html>
