﻿
@{
    ViewData["Title"] = "DataProtection";
}

<h2>Data Protection Notice</h2>
<p>
    Weston Athletic Club (WAC) will collect and use your personal data only for the legitimate purpose of administering your membership and / or event registration with the club and its events.
</p>
<p>
    WAC may contact you from time to time with further information about club events, club kit, membership renewals or other relevant information.
</p>
<p>
    WAC will share your personal information with England Athletics, only when you have requested to be registered with them.
</p>
<p>
    WAC will only collect your personal data (either in paper form or with WAC registered data processors) in the handling of on-line event management but will remain as Data Controller for your personal data.
</p>
<p>
    WAC do not store any of your financial details such as credit card numbers, but request these at point of on-line entry to facilitate payment for registering on an event or membership.
</p>
<p>
    WAC will not process any of your personal data, if so requested by you, but therefore will not be able to register you for the event in question.
</p>
<p>
    WAC will not share your personal information with anyone else unless they are legally bound to do so.
</p>
<p>
    Further details of our Data Handling process and procedure, and our England Athletics data sharing policy, is available on our Website - <a asp-action="Privacy">www.westonac.co.uk</a>
</p>