﻿@model wac.Models.Home.HomeViewModel
@{
    ViewData["Title"] = "Weston Athletic Club";
}
@using wac.Providers.ExtensionMethods;
<section class="main">
    @foreach (var content in Model.FeaturedNews)
    {
        <aside>
            <div class="content">
                <h3>@content.Title</h3>
                <h5>@content.PublishDateTimeText</h5>
                @Html.Raw(content.Body)
            </div>
        </aside>
    }
</section>
@await Html.PartialAsync("~/Views/Partials/_TrainingDiary.cshtml", Model.TrainingDiaryViewModel)
<section class="races-social">
    <aside>
        <div class="content">
            <h4>Championship races</h4>
            <ul>
                <li>
                    <a>Shapwick Bunny Hop</a> Monday 02 April 2018
                </li>
                <li>
                    <a>Burnham 5k (April)</a> Thursday 05 April 2018
                </li>
                <li>
                    <a>Taunton Half Marathon</a> Sunday 08 April 2018
                </li>
            </ul>
        </div>
    </aside>
    <aside>
        <div class="content">
            <h4>Our races</h4>
            <ul>
                <li>
                    <a>Weston Prom Run (April)</a> Thursday 26 April 2018 at 19:30
                </li>
                <li>
                    <a>Weston Prom Run (May)</a> Thursday 24 May 2018 at 19:30
                </li>
                <li>
                    <a>Beacon Batch</a> Monday 31 December 2018 at 11:00
                </li>
            </ul>
        </div>
    </aside>
    @await Html.PartialAsync("~/Views/Partials/_SocialDiary.cshtml", Model.SocialDiaryViewModel)
</section>
