﻿
@{
    ViewData["Title"] = "Privacy";
}

<h2>Privacy Notice</h2>

<p>
    Weston Athletic Club (WAC) are committed to protecting and respecting your privacy. For any personal data you provide for the purposes of your membership, Weston Athletic Club is the Data Controller and is responsible for storing and otherwise processing that data in a fair, lawful, secure and transparent way.
</p>
<h3>What personal data we hold on you</h3>
<p>
    You may give us information about you by filling in forms at an event or online, or by corresponding with us by phone, e-mail or otherwise. This includes information you provide when you register with the Club, subscribe to our news site, or participate in discussion boards on our website. The information you give us may include your name, date of birth, address, e-mail address, phone number, name of the EA affiliated Clubs with which you are registered and gender (Athletics Data). We may also ask for relevant health information, other data which is classed as special category personal data.
</p>
<h3>Why we need your personal data</h3>
<p>
    The reason we need your Athletics Data is to be able to administer your membership, and provide the membership services you are signing up to when you register with the club. Our lawful basis for processing your personal data is that we have a contractual obligation to you as a member to provide the services you are registering for.
</p>
<h4>
    Reasons we need to process your data include:
</h4>
<h5>
    For training and competition entry
</h5>
<ul>
    <li>
        sharing personal data with club coaches or officials to administer training sessions;
    </li>
    <li>
        sharing personal data with club event officials to manage events;
    </li>
    <li>
        sharing personal data with leagues, county associations and other competition providers for entry in events
    </li>
</ul>
<h5>
    For membership and club management
</h5>
<ul>
    <li>
        processing of membership forms and payments;
    </li>
    <li>
        sharing data with committee members to provide information about club activities, membership renewals or invitation to social events;
    </li>
    <li>
        club newsletter promoting club activity; and
    </li>
    <li>
        publishing of race and competition results
    </li>
</ul>
<h5>
    Marketing and communications (where separate consent is provided)
</h5>
<ul>
    <li>
        sending information about promotions and offers from sponsors;
    </li>
    <li>
        sending information about selling club kit, merchandise or fundraising.
    </li>
</ul>
<h5>
    We May - For funding and reporting purposes
</h5>
<ul>
    <li>
        share anonymised data with a funding partner as condition of grant funding e.g. Local Authority;
    </li>
    <li>
        analyse anonymised data to monitor club trends; and
    </li>
    <li>
        send any annual club surveys to improve your experience as a club member
    </li>
</ul>
<p>
    Any special category health data we hold on you is only processed for the purpose(s) of (e.g. fitness / health checks or passing health data to coaches to allow the safe running of training). We process this data on the lawful basis of consent. Therefore, we will also need your explicit consent to process this data, which we will ask for at the point of collecting it.
</p>
<p>
    On occasion we may collect personal data from non-members e.g. such as any non-member participant who fills in a health disclaimer or form at a WAC Club organised event. This information will be stored for 1 calendar year and then destroyed securely. Our lawful basis for processing data is consent. Therefore, we will also need explicit consent from non-members to process this data, which we will ask for at the point of collecting it.
</p>
<p>
    The club has the following social media pages - Facebook and Twitter. All members are free to join these pages. If you join one of the Social Media pages, please note that provider of the social media platform(s) have their own privacy policies and that the club do not accept any responsibility or liability for these policies.Â  Please check these policies before you submit any personal data on the club social media pages.
</p>
<h3>Who we share your personal data with</h3>
<p>
    When you become a member of the Club you can also choose to be registered as a member of England Athletics Limited. If you would like to register as a member of England Athletics Limited, please tick the box below, and we will provide England Athletics Limited with your Athletics Data which they will use to enable access to the MyAthletics online portal. England Athletics Limited will contact you to invite you to sign into and update your MyAthletics portal. You can set and amend your privacy settings from the MyAthletics portal.
</p>
<p>
    If you have any questions about the continuing privacy of your personal data when it is shared with England Athletics Limited, please contact <a href="dataprotection@englandathletics.org" target="_blank">dataprotection@englandathletics.org</a>. If you do not tick the box, the we will not share your data with England Athletics Limited. Please be aware that should you ever wish to compete in your sport you will have to register with England Athletics Limited at that time.
</p>
<p>
    The Club does not supply any personal data it holds for this purpose to any other third party.
</p>
<p>
    The Club does not store or transfer your personal data outside of the UK.
</p>
<h3>How long we hold your peronal data</h3>
<p>
    We will hold your personal data on file for as long as you are a member with us. Athlete data is updated every year on annual membership forms. Any personal data we hold on you will be securely destroyed after five years of inactivity on that member’s account, in line with England Athletics Limited’s retention policy. Your data is not processed for any further purposes other than those detailed in this policy.
</p>
<h3>Your rights regarding your peronal data</h3>
<p>
    As a data subject you may have the right at any time to request access to, rectification or erasure of your personal data; to restrict or object to certain kinds of processing of your personal data, including direct marketing; to the portability of your personal data and to complain to the UK’s data protection supervisory authority, the Information Commissioner’s Office about the processing of your personal data.
</p>
<p>
    As a data subject you are not obliged to share your personal data with the Club. If you choose not to share your personal data with us we may not be able to register or administer your membership.
</p>