﻿
@{
    ViewData["Title"] = "Login error";
}

<h2>Login error</h2>
<p>Unfortunately we cannot log you in at the moment. Please contact support or click <a asp-controller="Home" asp-action="Index">here</a> to return to the home page.</p>

