﻿@model wac.Models.Access.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<form asp-controller="Access" asp-action="Login">
    <p>Authentication required please enter your email address. If you are registered with us we will send you a login link with a one time token you can use to login to this site.</p>
    <p>
        <div class="row">
            <input class="col-xs-4" asp-for="LoginRequest.Token">
            <input type="hidden" asp-for="LoginRequest.TimeStamp">
            <div class="hidden"><input asp-for="LoginRequest.Email"><input asp-for="LoginRequest.Password"></div>
            <input name="submit" id="submit" type="submit" class="submit margin-top_5 margin-left_6" value="Mail me" />
        </div>
    </p>
    <p>Not registered with us? You can do so <a href="register">here</a></p>
</form>