﻿@model wac.Models.Messages.GetAllMessageBoardsViewModel
@{
    ViewData["Title"] = "Message Boards";
}

<h2>Welcome to the Weston AC message boards</h2>
<p>Please be respectful to other users.</p>

<section class="message-board">
    <article>
        <ul>
            @foreach (var messageBoard in Model.MessageBoards)
            {
                <li>
                    <h4>@messageBoard.Name</h4>
                    <p>@messageBoard.Description</p>
                    <div><a asp-controller="Messages" asp-action="Index" asp-route-id="@messageBoard.Id">open</a></div>
                </li>
            }
        </ul>
    </article>
</section>

