﻿@model wac.Types.Content
<form asp-controller="Content" asp-action="@(Model.IsNew ? "create" : "save")" method="post" onsubmit="return validateAndBind(Event)">
    <div class="form-group float-left padding-right-20">
        <label asp-for="Title">Title</label> <input asp-for="Title" />
    </div>
    <div class="form-group">
        <label asp-for="PublishDateTimeText">Publish Date</label> <input class="datepicker" asp-for="PublishDateTimeText" />
    </div>
    <div class="float-left"><label asp-for="ClubAreas">Club area</label></div>
    <div class="float-left padding-right-10">
        @Html.DropDownListFor(m => m.ClubArea.Id, new SelectList(Model.ClubAreas, "Id", "Name"), "Select club area...")
    </div>
    <div class="form-check float-left padding-right-20">
        <label asp-for="Featured">Featured</label><input asp-for="Featured" />
    </div>
    <div class="form-check">
        <label asp-for="Active">Is Active</label> <input asp-for="Active" />
    </div>
    <div class="form-group">
        <label asp-for="Body">Content</label> <textarea asp-for="Body" rows="10"></textarea>
        <a class="font-size-small" href="http://agea.github.io/tutorial.md/" target="_blank">How to use markdown</a>
    </div>
    <input asp-for="@Model.Id" value="@this.Model.Id" type="hidden" />
    <input type="hidden" asp-for="@Model.ClubArea.Id" />
    <input type="hidden" asp-for="@Model.PublishDateTime" />
    <input asp-for="ClubArea.Id" type="hidden" />
    <input type="submit" value="Save" />
</form>
<br />
@await Html.PartialAsync("~/Views/Partials/_uploadFile.cshtml")