﻿@model wac.Types.SocialEvent
<form asp-controller="SocialDiary" asp-action="@(Model.IsNew ? "create" : "save")" method="post" onsubmit="return validateAndBind(Event)">
    <div class="container">
        <div class="row">
            <div class="col-lg-10"><label asp-for="Title">Title</label> <input asp-for="Title" size="100" maxlength="45" /></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group float-left margin-right_20">
                    <label asp-for="EventDate">Date</label> <input class="datepicker" asp-for="EventDateText" size="25" />
                </div>
                <div class="form-group">
                    <label asp-for="EventTime">Time</label> <input asp-for="EventTime" placeholder="00:00" type="time" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label asp-for="Description">Description</label> <textarea asp-for="Description" rows="10"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1">
                <label asp-for="Location">Location</label>
            </div>
            <div class="col-lg-4">
                <input asp-for="Location" size="50" maxlength="45" />
            </div>
            <div class="col-lg-1">
                <label asp-for="Organiser">Organiser</label>
            </div>
            <div class="col-lg-4">
                <input asp-for="Organiser" size="50"  maxlength="255"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1">
                <label asp-for="Email">Email</label>
            </div>
            <div class="col-lg-4">
                <input asp-for="Email" size="50" maxlength="255" />
            </div>
            <div class="col-lg-1">
                <label asp-for="Facebook">Facebook</label>
            </div>
            <div class="col-lg-4">
                <input asp-for="Facebook" size="50" maxlength="255" />
            </div>
        </div>
        <div class="row margin-top-10">
            <div class="col-lg-12">
                <input type="submit" value="Save" />
            </div>
        </div>
    </div>
    <input asp-for="@Model.Id" value="@this.Model.Id" type="hidden" />
    <input type="hidden" asp-for="@Model.EventDate" />

</form>