﻿@model wac.Models.Events.SocialDiaryViewModel

    <aside>
        <div class="content">
            <h4><a asp-controller="SocialDiary" asp-action="Index" class="a-h4-link">Social Events</a></h4>
            <ul>
                @if (Model.SocialEvents.Count == 0)
                {
                    <li>
                        No social events are currently planned.
                    </li>
                }
                else
                {
                    foreach (var e in Model.SocialEvents)
                    {
                        <li>
                            <a asp-controller="SocialDiary" asp-action="View" asp-route-id="@e.Id">@e.Title</a> @e.EventDate.ToString("dddd, d MMMM yyyy") at @e.EventTime.ToString("HH:mm")
                        </li>
                    }
                }
            </ul>
        </div>
    </aside>