﻿@model wac.Models.Events.TrainingDiaryViewModel
<section class="training-diary">
    <article>
        <h2>Training diary</h2>
        <h3>Week commencing: @Model.WeekCommencing.ToString("dddd, d MMMM yyyy")</h3>
        @if (Model.events.Count > 0)
        {
            <div class="container">
                @foreach (var e in Model.events)
                {
                    if (!string.IsNullOrEmpty(e.Location) || !string.IsNullOrEmpty(e.Description))
                    {
                        <div class="row">
                            <div class="col-xs-1">@e.EventDate.ToString("dddd"):</div>
                            @if (string.IsNullOrEmpty(e.Location))
                            {
                                <div class="col-xs-10">@e.Description</div>
                            }
                            else
                            {
                                <div class="col-xs-10">@e.Location (@e.Description)</div>
                            }
                        </div>
                    }
                }
            </div>
        }
        else
        {
            <div>There are no events in the training diary for this week</div>
        }
        @if (Model.CanAdministerTrainingDiary)
        {
            <div class="margin-top-10"><a asp-controller="TrainingDiary" asp-action="Index">Edit training diary</a></div>
        }
    </article>
</section>