﻿<div class="">
    <div class="dropzone-container" id="dropzone">
        <form action="/Upload/UploadFiles" id="uploader" class="dropzone-container dropzone">
            <div id="dropzone-drop-area" class="dropzone-drop-area">
            </div>
            @Html.AntiForgeryToken()
        </form>
    </div>
</div>
<a asp-controller="Upload" asp-action="List" class="font-size-small" >View all uploaded content</a>
<link rel="stylesheet" href="~/css/dropzone.css" />

<script src="~/js/dropzone.js"></script>
<script src="~/js/dropzone.options.js"></script>