﻿
@{
    ViewData["Title"] = "View";
}
<link rel="stylesheet" href="~/css/dropzone.css" />
<script src="~/js/dropzone.js"></script>
<h2>Uploads</h2>

<style>
    .dropzone-container {
        width: 100%;
    }

    .dropzone-drop-area {
        background-color: lightcyan;
        border: dashed 3px grey;
        width: 450px;
        min-height: 150px;
        box-sizing: border-box;
        padding: 6px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        cursor: pointer;
        position: relative;
    }

        .dropzone-drop-area:hover {
            background-color: darkorange;
            border: dashed 3px black;
        }
</style>

<script>
    $(document).ready(function () {
        Dropzone.options.uploader = {
            paramName: "file", // The name that will be used to transfer the file
            maxFilesize: 2, // MB
            maxFiles: 1,
            clickable: true,
            acceptedFiles: ".png,.jpg,.gif,.bmp,.jpeg",
            uploadMultiple: false,
            createImageThumbnails: true,
            accept: function (file, done) {
                if (file.name === "badfile.jpg") {
                    done("This is a bad file!");
                }
                else {
                    //Show a confirm alert and display the image on the page.
                }
            }
        };
    });
</script>

<div class="col-md-9">
    <h2>File Drag & Drop Upload</h2>

    <div class="dropzone-container" id="dropzone">
        <form action="/Upload/UploadFiles" id="uploader" class="dropzone">
            <div id="dropzone-drop-area" class="dropzone-drop-area">
            </div>
            @Html.AntiForgeryToken();
        </form>
    </div>

    <br />
    <button type="button" class="btn btn-primary">Upload Files</button>
</div>