﻿@model wac.Models.Upload.ListUploadsViewModel
@{
    ViewData["Title"] = "List";
}

<h2>Uploaded files</h2>
<section class="main" id="content">
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <hr />
        <div class="row div-margin-bottom_1">
            <div class="col-sm-3" style="font-weight: bold;">File name</div>
            <div class="col-sm-5" style="font-weight: bold;">Link</div>
            <div class="col-sm-3" style="font-weight: bold;">Uploaded</div>
            <div class="col-sm-1" style="font-weight: bold;"></div>
        </div>
        @foreach (var upload in Model.Uploads)
        {
        <div id="upload-@upload.Id">
            <hr />
            <div class="row div-margin-bottom_1">
                <div id="tidy" class="div-column-tidy col-sm-3">@upload.FileName</div>
                <div id="tidy" class="div-column-tidy col-sm-5"><a href="@upload.Link" target="_blank">@upload.Link</a></div>
                <div id="tidy" class="div-column-tidy col-sm-3">@upload.DatetimeUploaded.ToString("dddd, d MMMM yyyy, hh:mm")</div>
                <div class="col-sm-1"><a class="a-button-delete" title="Delete" id="delete-upload" onclick="ConfirmDialog('Delete uploaded file: @upload.FileName?', 'Delete', deleteUpload, @upload.Id)">delete</a></div>
            </div>
        </div>
        }
    </div>
</section>
@section scripts
    {
    <script src="~/js/upload.list.js"></script>
}